:host::ng-deep {
  a {
    text-decoration: none;
    background: white;
    font-weight: 400;
    font-size: 16px;
  }

  .p-icon {
    width: 20px;
    height: 10px;
  }
  .p-sidebar-content {
    background-color: aliceblue !;
  }
}

@media screen and (max-width: 768px) {
  .p-panelmenu .p-menuitem-text {
    font-size: 14px;
  }
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  background: none !important;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}


.p-panelmenu .p-panelmenu-content .p-menuitem > .p-menuitem-content .p-menuitem-link {
  text-decoration: none;
  cursor: pointer;
}
