<div class="content">
  <h1>&nbsp;Home&nbsp;</h1>

  <div class="flex flex-wrap justify-content-between">
    <p-card class="flex-grow-1" routerLink="/mdo/view">
      <img src="../../../assets/mdo.png" alt="" />
      <h5>MDO View</h5>
    </p-card>
  </div>

  <div *FxtRoleGuard="['MDO.Admin']">
    <h1>&nbsp;Settings&nbsp;</h1>
  </div>

  <div
    class="flex flex-wrap justify-content-between"
    *FxtRoleGuard="['MDO.Admin']"
  >
    <p-card class="flex-grow-1" routerLink="/setting/shipper">
      <img src="../../../assets/shipper.svg" alt="" />
      <h5>Shipper</h5>
    </p-card>
    <p-card class="flex-grow-1" routerLink="/setting/reason-code">
      <img src="../../../assets/reason.svg" alt="" />
      <h5>Reason</h5>
    </p-card>
    <p-card class="flex-grow-1" routerLink="/setting/uom">
      <img src="../../../assets/uom.svg" alt="" />
      <h5>UOM</h5>
    </p-card>
    <p-card class="flex-grow-1" routerLink="/setting/ship-to">
      <img src="../../../assets/ship-to.svg" alt="" />
      <h5>Ship To</h5>
    </p-card>
    <p-card class="flex-grow-1" routerLink="/setting/request-by">
      <img src="../../../assets/request-by.svg" alt="" />
      <h5>Requester</h5>
    </p-card>
    <p-card class="flex-grow-1" routerLink="/user-manager/view">
      <img src="../../../assets/profile.svg" alt="" />
      <h5>Manage User</h5>
    </p-card>
  </div>
</div>
<br />
