<div class="table-container p-3">
  <h1 class="text-red-500 font-bold">
    Record Id - {{ PagingSignal().RecordId }}
  </h1>

  <table class="table">
    <tr>
      <th class="surface-600 text-50">Date</th>
      <th>{{ PagingSignal().Date | date : "dd/mm/yyyy" }}</th>
      <th class="surface-600 text-50">Ship Date</th>
      <th>{{ PagingSignal().ShipDate | date : "dd/mm/yyyy" }}</th>
      <th class="surface-600 text-50">Ship To</th>
      <th>{{ PagingSignal().ShipTo.Name }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Ship Address</th>
      <th colspan="5">{{ PagingSignal().ShipAddress }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Shipper</th>
      <th>{{ PagingSignal().Shipper.Name }}</th>
      <th class="surface-600 text-50">Request By</th>
      <th>{{ PagingSignal().RequestBy.Name }}</th>
      <th class="surface-600 text-50">Sales Order</th>
      <th>{{ PagingSignal().SORef }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Purchased Order</th>
      <th>{{ PagingSignal().PORef }}</th>
      <th class="surface-600 text-50">Production</th>
      <th>{{ PagingSignal().ProdRef }}</th>
      <th class="surface-600 text-50">Remark</th>
      <th>{{ PagingSignal().Remark }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Status</th>
      <th>{{ PagingSignal().Status | statusPipe }}</th>
      <th class="surface-600 text-50">Reason</th>
      <th colspan="3">{{ PagingSignal().ReasonCode.Reason }}</th>
    </tr>
  </table>
  <br />
  <p-card header="Mdo Lines">
    <ng-container *ngFor="let item of PagingSignal().MDOLines; index as i">
      <b>Line {{ i + 1 }}</b>
      <table class="table">
        <tr>
          <th class="surface-600 text-50">Item</th>
          <th>{{ item.Item }}</th>
          <th class="surface-600 text-50">Description</th>
          <th colspan="3">{{ item.ItemDesc }}</th>
        </tr>
        <tr>
          <th class="surface-600 text-50">Qty</th>
          <th>{{ item.Qty }}</th>
          <th class="surface-600 text-50">UOM</th>
          <th>{{ item?.UOM?.Name }}</th>
          <th class="surface-600 text-50">Lot</th>
          <th>{{ item.LotID }}</th>
        </tr>
        <tr>
          <th class="surface-600 text-50">Status</th>
          <th>{{ item.LineStatus | statusPipe }}</th>
          <th class="surface-600 text-50">Remark</th>
          <th colspan="3">{{ item.Remark }}</th>
        </tr>
      </table>
      <br
    /></ng-container>
  </p-card>
</div>
