<div class="table-container p-3">
  <h1 class="text-red-500 font-bold">
    Record Id - {{ PagingSignal().RecordId }}
  </h1>

  <table class="table">
    <tr>
      <th class="header surface-600 text-50">Date</th>
      <th>
        {{ PagingSignal().Date | date : "dd/mm/yyyy" }}
      </th>
      <th class="surface-600 text-50">Ship Date</th>
      <th>
        {{ PagingSignal().ShipDate | date : "dd/mm/yyyy" }}
      </th>
      <th class="surface-600 text-50">Ship To</th>
      <th>
        {{ PagingSignal().ShipTo ? PagingSignal().ShipTo.Name : "" }}
      </th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Ship Address</th>
      <th colspan="5">
        {{ PagingSignal().ShipAddress }}
      </th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Shipper</th>
      <th>
        {{ PagingSignal().Shipper ? PagingSignal().Shipper.Name : "" }}
      </th>
      <th class="surface-600 text-50">Request By</th>
      <th>
        {{ PagingSignal().RequestBy ? PagingSignal().RequestBy.Name : "" }}
      </th>
      <th class="surface-600 text-50">Sales Order</th>
      <th>{{ PagingSignal().SORef }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Purchased Order</th>
      <th>{{ PagingSignal().PORef }}</th>
      <th class="surface-600 text-50">Production</th>
      <th>{{ PagingSignal().ProdRef }}</th>
      <th class="surface-600 text-50">Remark</th>
      <th>{{ PagingSignal().Remark }}</th>
    </tr>
    <tr>
      <th class="surface-600 text-50">Status</th>
      <th>
        {{ PagingSignal().Status | statusPipe }}
      </th>
      <th class="surface-600 text-50">Reason</th>
      <th colspan="3">
        {{ PagingSignal().ReasonCode ? PagingSignal().ReasonCode.Reason : "" }}
      </th>
    </tr>
  </table>
  <br />
  <div
    class="table-container p-3"
    *ngIf="PagingSignal().MDOLines && PagingSignal().MDOLines.length > 0"
  >
    <p-card header="Mdo Lines">
      <p-table
        dataKey="Id"
        editMode="row"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '30rem' }"
        [value]="PagingSignal().MDOLines"
        [paginator]="false"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">Item</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">UOM</th>
            <th style="text-align: center">Remark</th>
            <th style="text-align: center">Lot</th>
            <th style="text-align: center">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
          <tr>
            <td style="text-align: center">
              {{ product.Item }}
            </td>
            <td style="text-align: center">
              {{ product.ItemDesc }}
            </td>
            <td style="text-align: center">{{ product.Qty }}</td>
            <td style="text-align: center">
              {{ product?.UOM?.Name }}
            </td>
            <td style="text-align: center">
              {{ product.Remark }}
            </td>
            <td style="text-align: center">
              {{ product.LotID }}
            </td>
            <td style="text-align: center">
              {{ product.LineStatus | statusPipe }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
