.p-overlaypanel .p-overlaypanel-content {
  padding: 0 !important;
}

.loginBtn .p-button {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}
