<p-overlayPanel #op>
  <div class="flex flex-row gap-3 align-items-center p-2">
    <p-avatar
      class="cursor-pointer"
      icon="pi pi-user"
      size="large"
      shape="circle"
    ></p-avatar>
    <div class="flex flex-column">
      <b>{{ username$ | async }}</b>
      <label class="text-400 text-sm">{{ email$ | async }}</label>
      <a class="text-primary cursor-pointer text-sm">Privacy</a>
    </div>
  </div>
  <div
    class="surface-ground pt-2 flex flex-row justify-content-end align-items-center p-2"
  >
    <p-button pRipple label="Logout" (onClick)="LogoutClick()"></p-button>
  </div>
</p-overlayPanel>

<p-button
  pRipple
  class="loginBtn"
  [text]="true"
  severity="success"
  *ngIf="!(isLogin$ | async)"
  (click)="LoginClick()"
  label="Login"
>
</p-button>

<div *ngIf="isLogin$ | async">
  <p-avatar
    class="cursor-pointer"
    icon="pi pi-user"
    (click)="op.toggle($event)"
    size="large"
    shape="circle"
  ></p-avatar>
</div>
