<div class="footer flex flex-row justify-content-between">
  <div class="flex flex-column pb-3">
    <img src="../../../assets/logo.png" alt="" />
    <div>
      <a
        href="https://www.google.com.my/maps/place/DK+SCHWEIZER+-+Personalisation+For+All/@3.0060026,101.6116999,17z/data=!3m1!4b1!4m5!3m4!1s0x31cdb362ef5c3407:0xf4999458e85c5b80!8m2!3d3.0060026!4d101.6138886"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>DK SCHWEIZER LEATHER SDN BHD (527465-V)</span>
      </a>
    </div>
    <span class="address"
      >No 4, Jalan PPU 3, Taman Perindustrian Puchong Utama,<br />
      47100 Puchong, Selangor</span
    >
  </div>
  <div class="follow flex flex-column">
    <label>Follow Us</label>
    <div class="flex flex-row">
      <a href="https://www.facebook.com/dk.schweizer.official/">
        <img
          src="../../../../../assets/fb.svg"
          alt=""
          [style]="{ width: '18px', height: '18px', cursor: 'pointer' }"
        />&nbsp;</a
      >
      <a href="https://www.instagram.com/dk.schweizer/">
        <img
          src="../../../../../assets/ig.svg"
          alt=""
          [style]="{ width: '18px', height: '18px', cursor: 'pointer' }"
        />&nbsp;</a
      >
      <a href="https://www.youtube.com/channel/UCkM9oek4cTFy8xgzH43hdPQ">
        <img src="../../../../../assets/yt.svg" alt="" [style]="{ width: '18px', height: '18px', cursor: 'pointer' }"
      /></a>
    </div>
  </div>

  <div class="follow flex flex-column">
    <label routerLink="/external/seatcover/prime-selection">Seat Cover</label>
  </div>

  <div class="follow flex flex-column">
    <label>Promotion</label>
    <div class="flex flex-column pt-1">
      <span>Consumer Promo</span>
      <span>Trade Promo</span>
    </div>
  </div>

  <div class="follow flex flex-column">
    <label>Info</label>
    <div class="flex flex-column pt-1">
      <span>News & Blogs</span>
      <span>Courses</span>
    </div>
  </div>

  <div class="follow flex flex-column">
    <label>Product</label>
    <div class="flex flex-column pt-1">
      <span>Gaming Chair</span>
      <span [routerLink]="'/external/product/merchandise'">Merchandise</span>
    </div>
  </div>

  <div class="follow flex flex-column">
    <label>Gallery</label>
  </div>

  <div class="follow flex flex-column">
    <label>About Us</label>
  </div>

  <div class="follow flex flex-column">
    <label>Contact Us</label>
  </div>
</div>
