/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.css";

body,
body .p-component {
  margin: 0;
}

[data-theme="light"] {
  /* Define styles for light mode */
}

/* Dark Theme */
[data-theme="dark"] {
  body {
    background-color: #111827;
    color: #ffffff;
  }
  .sidebarlayout[_ngcontent-ng-c453638342] {
    background-color: #111827 !important;
  }
  section.bodyContainer {
    background-color: #111827 !important;
    color: #ffffff;
  }
  .p-menubar {
    background-color: #111827 !important;
    border: 1px solid #484f57 !important;

    .p-avatar {
      background-color: #424b57 !important;
      color: #fff !important;
    }
    i {
      color: #ffffff !important;
    }
    .p-button {
      background-color: #111827 !important;

      .pi {
        color: #ffffff !important;
        background-color: #111827 !important;
      }
    }
  }
  h1 {
    background-color: #111827;
    color: #ffffff !important;
  }

  .p-button,
  .p-button .pi {
    color: #030712 !important;
    background-color: #60a5fa !important;
    border: none !important;
  }
  .p-card {
    background-color: #1f2937 !important;
    color: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5) !important;
    .p-card-subtitle {
      color: rgba(255, 255, 255, 0.6) !important;
    }
    input {
      background-color: #111827 !important;
      color: #fff !important;
      border: 1px solid #424b57 !important;
    }
    h5 {
      color: #fff !important;
    }

    .p-autocomplete input {
      background-color: #111827 !important;
      border: none !important;
      color: #fff !important;
    }

    .p-datatable .p-datatable-thead > tr > th {
      background-color: #171f29 !important;
      color: rgba(255, 255, 255, 0.87) !important;
      border: 1px solid #424b57 !important;
    }
    .p-datatable .p-datatable-tbody > tr > td {
      background-color: #1f2937 !important;
      color: rgba(255, 255, 255, 0.87) !important;
      border: 1px solid #424b57 !important;
      .p-button {
        background-color: #1f2937 !important;

        .p-button-label {
          color: rgba(255, 255, 255, 0.87) !important;
        }
        .p-button-label:hover {
          text-decoration: underline !important;
        }
        .pi {
          background-color: #1f2937 !important;
          color: rgba(255, 255, 255, 0.87) !important;
        }
      }

      a {
        color: #60a5fa;
      }
    }
    .p-paginator {
      background-color: #1f2937 !important;
      color: #fff !important;

      .p-dropdown {
        background-color: #171f29 !important;
        border: 1px solid #424b57 !important;

        .p-dropdown-label {
          color: rgba(255, 255, 255, 0.6) !important;
        }
        .p-dropdown-trigger {
          color: rgba(255, 255, 255, 0.6) !important;
        }
      }
      .p-paginator-pages .p-paginator-page.p-highlight {
        background: rgba(96, 165, 250, 0.16);
        border-color: rgba(96, 165, 250, 0.16);
        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
  .p-dialog {
    .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
      background: #1f2937;
      color: rgba(255, 255, 255, 0.87);
    }
    .p-dropdown {
      background-color: #171f29 !important;
      border: 1px solid #424b57 !important;

      .p-dropdown-label {
        color: rgba(255, 255, 255, 0.6) !important;
      }
      .p-dropdown-trigger {
        color: rgba(255, 255, 255, 0.6) !important;
      }
    }
  }
  .p-dropdown {
    background-color: #171f29 !important;
    border: 1px solid #424b57 !important;

    .p-dropdown-label {
      color: rgba(255, 255, 255, 0.6) !important;
    }
    .p-dropdown-trigger {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
  .p-dropdown-items-wrapper {
    background-color: #171f29 !important;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: rgba(255, 255, 255, 0.87);
  }
  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: #202833 !important;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #222933 !important;
  }

  .p-toolbar {
    background-color: #1f2937 !important;
    border: 1px solid #424b57;
  }

  .p-datepicker,
  .p-datepicker .p-datepicker-header {
    background-color: #1f2937 !important;
    border: 1px solid #424b57;
    color: rgba(255, 255, 255, 0.6) !important;
  }
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: rgba(255, 255, 255, 0.6) !important;
  }

  .p-datepicker table td > span:not(.p-highlight):not(.p-disabled):hover {
    background-color: #0e1116 !important;
  }

  .p-datepicker table td > span.p-highlight {
    background-color: #11151a !important;
  }

  .p-sidebar .p-sidebar-header,
  .p-sidebar .p-sidebar-content,
  .p-sidebar .p-sidebar-footer {
    background-color: #1f2937;
    color: rgba(255, 255, 255, 0.6);

    input {
      background-color: #111827 !important;
      border: none !important;
      color: #fff !important;
      border: 1px solid #424b57 !important;
    }
  }

  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content,
  .p-panelmenu .p-panelmenu-content {
    background-color: #111827 !important;
    border: none !important;
    color: #fff !important;
    border: 1px solid #424b57 !important;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem.p-highlight {
    background-color: #11151a !important;
  }

  .p-panelmenu .p-menuitem-text,
  .p-icon {
    color: #fff !important;
  }
  .cancel .p-button {
    border: 1px dashed #5d9ff0 !important;
    .p-button-label {
      color: rgb(214, 74, 74) !important;
    }
  }
  .table th {
    background-color: #111827 !important;
    border: 1px solid #424b57 !important;
    color: #fff !important;
  }
  .table .header th {
    background-color: #0a0d14 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #333a42;
  }
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  opacity: 20%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vmax;
  background: #e5e4e2;
}

.p-card {
  margin-top: 10px;
  margin-bottom: 10px;
  .p-dropdown .p-dropdown-label {
    display: flex;
    align-items: center;
  }
}

// a {
//   color: red;
// }
