<p-card header="Profile">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button pRipple (onClick)="SaveUpdateClick()">Save</p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button
        icon="pi pi-times"
        styleClass="p-button-danger"
        (onClick)="CancelClick()"
      ></p-button>
    </div>
  </p-toolbar>
  <br />

  <form [formGroup]="createFormGroup">
    <div class="field grid">
      <div class="col-12 md:col-10 hidden-input">
        <input type="text" pInputText formControlName="Id" [hidden]="true" />
      </div>
    </div>

    <div class="field grid">
      <label class="col-12 md:col-3 md:mb-0">
        <span class="text-red-400">*&nbsp;</span>Name :
      </label>
      <div class="col-12 md:col-9">
        <input type="text" pInputText formControlName="Name" />
      </div>
    </div>
    <div class="field grid">
      <label class="col-12 md:col-3 md:mb-0">
        <span class="text-red-400">*&nbsp;</span>Phone Number :
      </label>
      <div class="col-12 md:col-9">
        <FxtPhoneNumberInput 
          #Phone
          formControlName="PhoneNumber" 
          PlaceHolder="Enter Phone Number" 
          [required]="true">
        </FxtPhoneNumberInput>
        <div *ngIf="createFormGroup.get('PhoneNumber')?.errors && createFormGroup.get('PhoneNumber')?.touched">
          <div class="text-red-400" *ngIf="createFormGroup.get('PhoneNumber')?.errors?.['required']">Phone Number is Required</div>
          <div class="text-red-400" *ngIf="createFormGroup.get('PhoneNumber')?.errors?.['Invalid']">Phone Number is Invalid</div>
        </div>
      </div>
    </div>

    <div class="field grid">
      <label class="col-12 md:col-3 md:mb-0">
        <span class="text-red-400">*&nbsp;</span>Email :
      </label>
      <div class="col-12 md:col-9">
        <input type="text" pInputText formControlName="Email" />
      </div>
    </div>

    <div class="field grid">
      <label class="col-12 md:col-3 md:mb-0">
        <span class="text-red-400">*&nbsp;</span>Address :
      </label>
      <div class="col-12 md:col-9">
        <input type="text" pInputText formControlName="Address" />
      </div>
    </div>

    <div class="field grid">
      <label class="col-12 md:col-3 md:mb-0">
        <span class="text-red-400">*&nbsp;</span>IsDisable :
      </label>
      <div class="col-12 md:col-9">
        <p-inputSwitch
          formControlName="IsDisable">
        </p-inputSwitch>
      </div>
    </div>
  </form> 
</p-card>
