<p-card
  header="Manage User"
  subheader="{{ PagingSignal().TotalElements }} users"
>
  <div class="flex flex-row flex-wrap align-items-center gap-3">
    <div class="search-box flex-grow-1">
      <app-searchbox
        PlaceHolder="Search"
        (onSearch)="Search($event)"
        (onClearClick)="ClearSearch()"
      ></app-searchbox>
    </div>
    <p-button
      pRipple
      styleClass="p-button-rounded"
      (click)="ShowModal()"
      pTooltip="Click to Add"
      tooltipPosition="left"
      >Import
    </p-button>
  </div>
  <br />
  <p-table
    #fTable
    dataKey="Id"
    editMode="row"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    [value]="PagingSignal().Content"
    [totalRecords]="PagingSignal().TotalElements"
    [rows]="Query.PageSize"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'{currentPage} of {totalPages}'"
    [lazy]="true"
    (onLazyLoad)="NextPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="row" pSortableColumn="Name" style="width: 15%">
          <div class="center">
            Display Name
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="TextMatchModeOptions"
              type="text"
              field="Name"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="Name"></p-sortIcon>
          </div>
        </th>
        <th scope="row" pSortableColumn="Username" style="width: 15%">
          <div class="center">
            Username
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="TextMatchModeOptions"
              type="text"
              field="Username"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="Username"></p-sortIcon>
          </div>
        </th>
        <th scope="row" pSortableColumn="Phone" style="width: 10%">
          <div class="center">
            Phone
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="TextMatchModeOptions"
              type="text"
              field="Phone"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="Phone"></p-sortIcon>
          </div>
        </th>
        <th scope="row" pSortableColumn="Email" style="width: 15%">
          <div class="center">
            Email
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="TextMatchModeOptions"
              type="text"
              field="Email"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="Email"></p-sortIcon>
          </div>
        </th>
        <th style="text-align: center; width: 25%">Address</th>
        <th style="text-align: center; width: 10%">IsDisable</th>
        <th style="text-align: center; width: 10%">Action</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-data
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="data">
        <td style="text-align: center">
          {{ data.Name }}
        </td>
        <td style="text-align: center">
          {{ data.Username }}
        </td>
        <td style="text-align: center">
          {{ data.PhoneNumber }}
        </td>
        <td style="text-align: center">
          {{ data.Email }}
        </td>
        <td style="text-align: center">
          {{ data.Address }}
        </td>
        <td style="text-align: center">
          <p-inputSwitch
            [(ngModel)]="data.IsDisable"
            [disabled]="true"
          ></p-inputSwitch>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <p-button
              pRipple
              icon="pi pi-pencil"
              (click)="EditClick(data.Id)"
              styleClass="p-button-sm p-button-text p-button-rounded p-button-outlined p-0 "
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog [(visible)]="isVisible" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Import User</span>
  </ng-template>
  <p-dropdown
    appendTo="body"
    placeholder="Select a user"
    [options]="(userSelection$ | async) || []"
    [(ngModel)]="userSelected"
  ></p-dropdown>
  <ng-template pTemplate="footer">
    <div class="flex flex-row justify-content-center align-items-center gap-2">
      <p-button
        class="ok"
        label="OK"
        pRipple
        icon="pi pi-check"
        (click)="ImportClick()"
      ></p-button>

      <p-button
        class="cancel"
        label="Cancel"
        pRipple
        icon="pi pi-times"
        (click)="isVisible = false"
      ></p-button></div
  ></ng-template>
</p-dialog>
